


.thing_container {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.thing {
    border: 2px dotted black;
    margin: 20px;
}

.thong {
    border: 2px solid blue;
}

.quote_container {
    border: 2px solid black;
    font-size: large;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.quote_body {
    border: 2px solid orchid;
    display: inline-block;
    margin: 20px auto;
}

.author_of_quote {
    border: 2px dotted black;
    align-items: center;
    // justify-content: space-around;
}