.body_content_container {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.success_list_container {
    border: 2px solid blue;
    margin: 2rem;
}

.quote_card {
    box-shadow: 0px 0px 10px 1px grey;
    border-radius: .4rem;
    font-size: large;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: .8rem;
    padding: .5rem;
}

.quote_container {
    margin: auto;
}

.quote_body {
    display: inline-block;
    font-size: larger;
    margin: .2rem 1rem;
}

.author_of_quote {
    align-items: center;
    margin: .2rem 1rem;
    color: rgb(88, 88, 88);
}