<nav class="navbar">
    <a class="navbar_item" routerLink="/dashboard">Back</a>
</nav>



<div class="thing_container">
    
    <div class="quote_card">
        <div class="quote_container">
            <p class="quote_body">{{quote_of_the_day.text}}</p>
            <p class="author_of_quote">- {{quote_of_the_day.author}}</p>
        </div>
    </div> 

    <div class="success_list_container thong">
        <success-list></success-list>
    </div>

    <!-- <div class="todos thong">
        <p>todo component might go here</p>
    </div> -->

    <!-- <div class="left_side thing">
        <p>tasks to get done</p>
    </div>

    <div class="right_side thing">
        <p>tasks to get done</p>
    </div> -->



</div>
