.body_content_container {
    border: 2px solid red;
    display: flex;
    flex: 1;
    align-items: center;
    margin: 1rem;
    height: 100%;
}

.day_view_left_side_bar {
    border: 2px solid purple;
    width: 24%;
}

.quote_card {
    box-shadow: 0px 0px 10px 1px grey;
    border-radius: .4rem;
    font-size: large;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: .8rem .8rem 1.8rem .8rem;
    padding: .5rem;
}

.quote_container {
    margin: auto;
}

.quote_body {
    display: inline-block;
    font-size: larger;
    margin: .2rem 1rem;
}

.author_of_quote {
    align-items: center;
    margin: .2rem 1rem;
    color: rgb(88, 88, 88);
}

.success_list_right_side_pane {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.success_list_container {
    border: 2px solid blue;
    align-self: center;
    width: 50%;
}
