<nav class="navbar">
    <a class="navbar_item" routerLink="/dashboard">Back</a>
</nav>

<form class="create_journal_entry_form"
    (ngSubmit)="createJournalEntry()">


    <ul class="category_wrapper">
        <label id="pick_a_category_label" class="label_group_title"
            for="categories">Add a label</label>

        <div class="thigns">
            <li class="categories"
                *ngFor="let thisCategory of categories">
                <button id="categories" class="life_category" 
                    type="button" 
                    [class.selected]="currentlySelectedCategory(thisCategory)"
                    (click)="onSelectedCategory(thisCategory)">{{thisCategory}}</button>
            </li>
        </div>

    </ul>


    <div class="duration_and_description_wrapper">

    
        <div class="duration_wrapper">
            <label>.. for how many minutes?</label>
            <input type="number" [(ngModel)]="journalEntry.duration" name="duration">
        </div>

        <div class="description_wrapper">
            <textarea class="description" id="description" name="description"
                placeholder="I worked on ..."
                [(ngModel)]="journalEntry.description" ></textarea>
        </div>

        <button id="submit_button" type="submit">Log Entry</button>
    </div>

    
    

</form>