.create_journal_entry_form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
}

.general_category_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-width: 50vh;
    list-style-type: none;
    border: 2px solid green;
}

.categories_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#pick_a_category_label { 
    display: block;
}

.life_category {
    display: inline-block;
    padding: 5px;
}

.life_category.selected {
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.duration_and_description_wrapper {
    display: flex;
    flex-direction: column;
    // border: 3px solid blue;
    width: 80%;
    margin: 0 auto;
}

.duration_wrapper {
    // border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh auto;
}

.description_wrapper {
    // border: 2px solid yellow;
    margin: 0 auto;
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .description_wrapper {
        width: 100%;
    }
}

.description {
    width: 100%;
    height: 30vh;
}


#submit_button {
    // border: 2px solid red;
    width: 20%;
    margin: 0 auto;
    background-color: rgb(20, 161, 20);
    color: white;
}