<nav class="navbar">
    <a class="navbar_item" routerLink="/journals">Create Entry</a>
    <!-- <a class="navbar_item" routerLink="/create-goal">Create Goal</a> -->
    <!-- <a class="navbar_item" routerLink="/goals">View Goals</a> -->
</nav>


<div class="everything">

    <div class="journal_viewer_wrapper">

        <div class="filter_bar">
            <label>Filter by category:</label>
            <button type="button" class="filter_bar_button" 
                *ngFor="let thisFilter of filters" 
                [class.selected]="currentlySelectedFilter(thisFilter)"
                (click)="a_filter_was_clicked(thisFilter)">{{thisFilter}}</button>
            <button type="button" class="clear_filter_button filter_bar_button"
                (click)="clearSelectedFilter()"
                [disabled]="nothingToFilter()">clear</button>
        </div>

        <div class="journals_wrapper">
            <div class="journals">
                <journal-viewer 
                    [journalEntryType]="selectedFilter"></journal-viewer>
            </div>
        </div>
    </div>

</div>


