<div class="journal_entries_container">

    <div class="journal_entry" 
        *ngFor="let entry of entries">

        <div class="date_and_labels_container">
            <div class="date_wrapper">{{entry.date | date:'short'}}</div>
            <div [ngClass]="generateClassFor(entry.category)">{{entry.category}}</div>
        </div>

        <div class="duration_and_category_wrapper">
            <div class="duration_wrapper">{{entry.duration}} minutes - {{entry.category}}</div>
        </div>
        
        <div class="description_wrapper">{{entry.description}}</div>
    </div>
    
</div>