body {
    background-color: blue;
}

.journal_entries_container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 60%;
    margin: 40px auto auto auto;
    background-color: lightblue;
    border: 2px solid black;
    overflow-x: hidden;
    overflow-y: auto;
}

.journal_entry {
    margin: 14px;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgb(238, 238, 238);
    border: 1px solid yellow;
}

.date_wrapper {
    border: 2px solid red;
    display: inline-block;
    margin-bottom: 10px;
}

.duration_and_category_wrapper {
    margin-bottom: 10px;
}

.description_wrapper {
    border: 2px solid orange;
    white-space: pre-line;
}
