// // * {
// //     background-color: blue;
// // }
// journal-viewer {
//     background-color: blue;
// }

.journal_entries_container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;

    border-radius: 5px;
    width: 70%;
    margin: 40px auto;
    background-color: lightblue;
    overflow-x: hidden;
    overflow-y: auto;
}

.journal_entry {
    margin: 14px;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgb(238, 238, 238);
    border: 1px solid yellow;
}

.date_and_labels_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
    margin-bottom: 10px;
}

.date_wrapper {
    display: inline-block;
}

.label_wrapper {
    padding: 2px 8px;
    border-radius: 7px;
    background-color: blue;
}

.lightblue {
    background-color: lightblue;
}

.lightorange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.lightgreen {
    background-color: lightgreen;
}


.duration_and_category_wrapper {
    margin-bottom: 10px;
    border: 2px solid green;
}

.description_wrapper {
    border: 2px dotted orange;
    white-space: pre-line;
}
